@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.popup-link {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.work-space.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto auto;
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
}

.work-space.grid > button a,
.work-space.grid > a {
  max-width: 300px;
  height: 180px;
}

.work-space.grid h5 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

#donut-chart > div {
  margin: 0 auto; 
}


.MuiPieArc-root {
  stroke-width: 0 !important;
}

.pagination-box-shadow {
  box-shadow: -4px -4px 7px rgba(44, 55, 76, 0.8), 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.pagination-box-shadow.active{
  box-shadow: inset -4px -4px 7px rgba(44, 55, 76, 0.8),
      inset 2px 2px 5px rgba(0, 0, 0, 0.4);
}

